<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center> Geolocalisation </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
<!--
  <ion-button (click)="add()">Ajouter Nicolas à la BDD</ion-button>
  <ion-button (click)="delete()">Suppression table</ion-button>
-->

<!-- TEST AFFICHAGE DETAILS POINTS -->
  <!--
  <h1>{{getPointDatabase()}}</h1>
  <ion-button (click)="getPointDatabase()"></ion-button>
  -->
  <!--
<ion-card *ngFor="let point of points">
  <ion-card-header>
    <ion-card-subtitle>{{point.valeur}}</ion-card-subtitle>
  </ion-card-header>
</ion-card>
-->

  <!-- MAP LEAFLET -->
  <div id="map"></div>

</ion-content>
