<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center >Caméra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button expand="block" color="success" (click)="addPhoto('library')">
        <ion-icon slot="start" name="image"></ion-icon>
        Ouvrir la bibliothèque
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button expand="block" color="success" (click)="addPhoto('camera')">
        <ion-icon slot="start" name="camera"></ion-icon>
        Prendre une photo
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div class="flex">
        <div class="img-box">
          <img [src]="image">
        </div>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button expand="block" color="success" (click)="uploadFirebase()">
        <ion-icon slot="start" name="cloud-upload"></ion-icon>
        Envoyer la photo
      </ion-button>
    </ion-col>
  </ion-row>

</ion-grid>

</ion-content>
