<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>Ma randonnée</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-img src="../assets/picture/hike.jpg"></ion-img>

<!-- Search a hiking -->
<ion-grid>
  <ion-row text-center>
    <ion-col text-center>

      <!-- Localisation || pending Leaflet API -->

      <!--
      <ion-select placeholder="Localisation" class="hike-criteria">
        <ion-select-option class="hike-choice"></ion-select-option>
        <ion-select-option class="hike-choice"></ion-select-option>
        <button class="button-close">Annuler</button>
      </ion-select>
      -->

      <!-- Acces -->
      <ion-select placeholder="Accessibilité" class="hike-criteria">
      <ion-select-option class="hike-choice" value="foot">A pied</ion-select-option>
      <ion-select-option class="hike-choice" value="bike">En Vélo</ion-select-option>
        <button class="button-close">Annuler</button>
      </ion-select>
    </ion-col>

  </ion-row>
  
  <ion-row>
    <ion-col>
      <!-- Duration -->
      <ion-select placeholder="Duree" class="hike-criteria">
        <ion-select-option class="hike-choice" value="less-than-an-hour">Moins d'une heure</ion-select-option>
        <ion-select-option class="hike-choice" value="between-1h-and-2h">Entre 1h et 2h</ion-select-option>
        <ion-select-option class="hike-choice" value="more-than-2h">Plus de 2h</ion-select-option>
        <button class="button-close">Annuler</button>
      </ion-select>
    </ion-col>
  </ion-row>
</ion-grid>

  <!-- Button submit => Search Hiking -->
  <div text-center>
    <ion-button class="button-search-hike" color="success">Rechercher</ion-button>
  </div>



</ion-content>


