ion-select-option.hike-choice{padding: 10px}
ion-select.hike-criteria{padding: 10px 15px; border: solid 1px gray; width: 75%;text-align: center; margin: 0 auto;margin-top: 30px}
ion-button.button-search-hike{border-radius: 10px; margin: 30px 0px}
span.blue{color: #6BDBF7;}
span.green{color: #FF9439;}
